body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f4f0f0;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  color: #333;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section#student-info {
  background-color: #f9f9f9;
  padding: 20px;
}

section#exchange-rates {
  background-color: #f4f0f0;
  padding: 20px;
}

h2 {
  margin-top: 0;
  color: #333;
}

.rate-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.currency {
  font-weight: bold;
  font-size: 18px;
}

.rate {
  font-size: 16px;
  color: #555;
}
